<h1>To Do</h1>

<h3>Here are all your lists</h3>
<br>
<ul>
<% @lists.each() do |list| %>
    <li><a href="/lists/<%= list.id() %>"><%= list.name %></a>
      <br><a href="/lists/<%= list.id() %>/edit">Update this list</a></li>
  <% end %>
</ul>


<p><a href="<%/lists/new"</a>Add new list</p>
