<h1>Add a New Task</h1>
<form action="/tasks" method="post">
  <input id="list_id" name="list_id" type="hidden" value="<%= @list.id() %>">

  <label for="description">Description:</label>
  <input id="description" name="description" type="text">

  <button class="btn-success">Add Task</button>
</form>
